@using ASDF.ENETCare.InterventionManagement.Web.Models
@model ASDF.ENETCare.InterventionManagement.Web.Models.InterventionDetailsViewModel

@{
    ViewBag.Title = "title";
}

<h2>Details</h2>

<div>
    <h4>Intervention Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatePerformed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePerformed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InterventionTemplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InterventionTemplate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposerNameEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposerNameEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproverNameEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproverNameEmail)
        </dd>
    </dl>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfLastVisit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfLastVisit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RemainingLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RemainingLife)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @if (Request.UrlReferrer != null)
    {
        <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
    }
</p>
