@model ASDF.ENETCare.InterventionManagement.Web.Models.ChangeStateViewModel

@{
    ViewBag.Title = "ChangeState";
}

<h2>ChangeState</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Change the state of the intervention</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentInterventionState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CurrentInterventionState, new {disabled = true})
                @Html.ValidationMessageFor(model => model.CurrentInterventionState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextInterventionState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NextInterventionState, new SelectList(Model.StateList, "InterventionStateId", "Name"))                
                @Html.ValidationMessageFor(model => model.NextInterventionState, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
